.login{
    background: var(--background-body);
}

.login--innerbox {
    justify-content: center;
    align-items: center;
}

.login--contentwrapper{
    flex: 0 0 90vh;
    margin: var(--padding-large) 0;
    justify-content: space-between;
    align-items: stretch;

}
.bubble {

    flex: 0 0 102px;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    max-width: 400px;

    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: transparent;
}


.bubble-active {
    flex: 0 0 102px;
    position: relative;
    font-family: var(--font-body);
    font-size: 18px;
    line-height: 24px;
    max-width: 400px;
    background: var(--color-white);
    border-radius: 40px;
    /*kept a padding not based on global variable, because the message bubble will move if it is not 24px*/
    padding: 24px;
    text-align: center;
    color: var(--color-dark);
    border: 3px solid var(--color-dark);
    box-shadow: 12px 10px 0 var(--color-dark);


}

.login--formwrapper {
    justify-content: center;
}

.login--form {
    flex: 0 1 300px;

}


.login--form Button{
    margin-top: var(--padding-large);
    align-self: center;
}

.confetti-button {
    align-self: end;
}

.login--logowrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}




.login .animate {
    animation: slide-in-out 2s both;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes slide-in-out {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateX(320px);
    }
    50% {
        transform: translateX(320px) translateY(70px);
    }
    80% {
        transform: translateX(-140px) translateY(70px);
    }
    90%{
        transform: translateX(-140px) ;
    }
    100% {

    }

}

