.profile{
    padding: var(--padding-XXXL) 0;
    background-color: var(--background-body);

}

.profile--innerbox {
    gap: var(--padding-XXXL);
}

.profile--tilewrapper{

    justify-content: space-evenly;
    gap:75px;

}

.profile--tilewrapper .tile{
    flex: 1 0 350px;

}

.profile .imagewrapper-profilepicture{
    flex: 0 0 200px;
    height: 200px;
}


.profile--button-errormessage-wrapper{
    align-self: flex-end;
}

.profile--buttonwrapper {
    align-self: flex-end;
}

