.logo{
    white-space: nowrap;
    align-items: center;
    justify-content: center;


}

.logo-big .logo-imagewrapper {
    min-width: 100px;
    flex: 0 1 150px;
    margin: 0 var(--padding-large);
}

.logo * {
    text-shadow:
            -1px -1px 0 var(--color-primary-light),
            1px -1px 0 var(--color-primary-light),
            -1px 1px 0 var(--color-primary-light),
            1px 1px 0 var(--color-primary-light),
            4px 4px var(--color-primary);
}



