.header {
    background: var(--color-secondary);
    height: 5em;
}

.header--innerbox {
    justify-content: space-between;
    gap: 50px;
}

.header--logo {
    flex: 0 0 350px;
    align-self: end;
}

.header--logo h3 {
    margin: 0 var(--padding-medium);
    font-size: var(--fontsize-600);
}

.header--contentrightwrapper {
    align-items: center;
    justify-content: flex-end;
    gap: 30px;

}

.header--navbar ul {
    list-style-type: none;
    justify-content: space-between;
    gap: var(--padding-large)


}

.header--navbar li {
    align-items: center;
    display: flex;
}

.header .default-menu-link {
    text-decoration: none;
    white-space: nowrap;
    font-size: var(--fontsize-500);
    padding: var(--padding-small);
    border-radius: 10px;
}

.header .active-menu-link {
    text-decoration: none;
    padding: var(--padding-small);
    font-size: var(--fontsize-500);
    border-radius: 10px;
    background-color: var(--color-primary-light);
    box-shadow: 10px 8px 0 var(--color-primary);
}

.header--navbar h3 {
    font-size: var(--fontsize-400);
    padding: 0;
}

.header--img-and-logout-wrapper {
    justify-content: flex-end;
    align-items: center;
    gap: 1em;

}

.header--imagewrapper {
    flex: 0 0 60px;
    height: 60px;

}

